/* Noticias.css */

/* Estilos para el botón */
button {
  background-color: black;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
  border: none;
  padding: 7px 10px;
  border-radius: 30px;
  border: 2px solid #ccc;
}

/* Estilos al pasar el mouse por encima del botón */
button:hover {
  background-color: green;
  color: black;
}



.container {
  max-width: 1300px;
  margin: auto;
  padding: 10px;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  background-image: url('./pex.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 50px; /* Agrega un margen inferior para separar el contenedor del footer */
}


h2 {
  text-align: center;
  color: black;
  margin-bottom: 15px;
  margin-top: 0px;
  margin-bottom: 0px;

}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0; /* Añadido para asegurar que no haya margen en el ul */
}

li {
  margin: 10px;
  text-align: center;
  cursor: pointer;
}

img {
  width: 150px;
  height: auto;
  margin: 5px;
}

img:hover{
  width: 160px;
  border: 3px solid black;
}

@media screen and (max-width: 768px) {
  li {
    flex: 0 0 50%; /* Muestra 2 elementos por fila en dispositivos pequeños */
  }
}

@media screen and (min-width: 769px) {
  li {
    flex: 0 0 33.33%; /* Muestra 3 elementos por fila en dispositivos medianos */
  }
}

@media screen and (min-width: 1200px) {
  li {
    flex: 0 0 16.66%; /* Muestra 6 elementos por fila en dispositivos grandes */
  }
}
